@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer {
  html {
    @apply scroll-smooth;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    color: rgb(var(--foreground-rgb));
    background: #050618;
    overflow-x: hidden;
  }
}

b {
  color: #dc0530;
}

.circle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  left: 4px;
  top: 5px;
  animation: scrollAnimation 1.5s ease-in-out infinite;
}

@keyframes scrollAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
